.business_box {
  width: 100%;
  height: 500px;
  position: relative;
}

.business_txt {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
}

.business_txt h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.business_bg {
  width: 100%;
  height: 100%;
  background: url('https://hmcnetworks.co.kr/img/bg_submain02.f421a3cc.jpg');
  background-position: center;
  background-size: cover;
}

.business_tab {
  position: absolute;
  bottom: 0;
  color: white;
  background: #1c273b;
  width: 100%;
  padding: 10px 16px;
}

.businessList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.businessList li {
  padding: 10px 20px;
  text-align: center;
  width: 200px;
  height: 35px;
  font-size: 1rem;
  font-weight: bold;
}
.businessList li:hover {
  color: red;
}

/* f&b */

.bu_info {
  padding: 80px 0;
}

.bu_info .bu_txt {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
}

.bu_info .bu_txt h2 {
  margin-bottom: 60px;
  font-size: 3rem;
}

.bu_info .bu_txt span {
  position: absolute;
  width: 50px;
  height: 5px;
  background: #0060ad;
  left: 50%;
  top: 70px;
  transform: translate(-50%, -50%);
}
.bu_info .bu_txt p {
  font-weight: bold;
  line-height: 1.3rem;
}

p {
  color: #777;
}

.bu_info .bu_info_img_box_mb {
  padding: 20px;
}

.bu_info .bu_info_img_box_mb .bu_info_img1 img,
.bu_info .bu_info_img_box_mb .bu_info_img2 img {
  width: 65%;
}

.bu_info .bu_info_img_box_mb .bu_info_img1,
.bu_info .bu_info_img_box_mb .bu_info_img2 {
  width: 100%;
}

.bu_info .bu_info_img_box_mb .bu_info_img2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.bu_info .bu_info_img1 img {
  border-radius: 0 16px 16px 16px;
  overflow: hidden;
}

.bu_info .bu_info_img2 img {
  border-radius: 16px 16px 0 16px;
  overflow: hidden;
}

.bu_info_img_box_pc {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 30px 20px;
  position: relative;
  margin: 0 auto;
}

.bu_info_img_box_pc .bu_info_img1,
.bu_info_img_box_pc .bu_info_img2 {
  width: 48%;
}

.bu_info_img_box_pc .bu_info_img1 {
  margin-top: 60px;
}

.bu_info_img_box_pc .bu_info_img1 img,
.bu_info_img_box_pc .bu_info_img2 img {
  width: 100%;
}

.fb {
  position: relative;
  width: 100%;
  height: 650px;
  color: white;
  margin: 40px 0 80px;
}

.offline .fb {
  height: 650px;
}

.offline .fb .fb_bg {
  background: url('https://hmcnetworks.co.kr/img/bg_silverban03.9d0e8a34.jpg')
    no-repeat;
  background-size: cover;
  z-index: -1;
}

.fb .fb_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: url('https://hmcnetworks.co.kr/img/bg_fnbban01.eefbe40a.jpg')
    no-repeat;
  background-size: cover;
  z-index: -1;
}

.fb .custom-navigation {
  position: absolute;
  bottom: 40px;
  z-index: 0;
}
.fb .mb {
  position: relative;
  width: 100%;
  height: 640px;
  top: 0;
  left: 0;
  padding: 140px 20px 160px;
}

.fb .mb .top h2 {
  margin-bottom: 60px;
  position: relative;
}
.fb .mb .top h2::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 5px;
  top: 52px;
  left: 0;
  background: white;
}

.fb .mb .bottom .title_number {
  margin-bottom: 20px;
}

.fb .mb .bottom div > * {
  margin-bottom: 12px;
}
.fb .mb .bottom div h5 {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.grid {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.fb .mb .bottom .grid div {
  width: 95%;
  margin-bottom: -3px;
}

.fb .mb .bottom .grid img {
  width: 100%;
  object-fit: contain;
}

.fb .pc {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 640px;
  padding: 150px 20px 180px;
  margin: 0 auto;
}

.fb .pc > div {
  width: 50%;
}

.fb .pc .left_box h1 {
  position: relative;
}

.fb .pc .left_box h1::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 5px;
  top: 60px;
  left: 0;
  background: white;
}

.fb .pc .right_box .title_number {
  margin-right: 20px;
}
.fb .pc .right_box .fb_txt {
  margin-top: 10px;
}

.fb .pc .right_box .fb_txt h3 {
  margin-bottom: 20px;
}

.fb .pc .right_box .grid {
  gap: 16px;
  margin-top: 100px;
  width: 450px;
}
.fb .pc .right_box .grid img {
  width: 100%;
}

.title_number {
  color: rgba(255, 255, 255, 0.45);
}

.fb .swiper-pagination-bullet-active {
  color: white;
  background: white;
}
.hmcLab .swiper-pagination-bullet-active {
  color: black;
}

.hmcLab {
  margin: 100px 0;
  padding: 20px 0;
}

.hmcLab .swiper-pagination-bullet {
  color: black;
}

.hmcLab .swiper-pagination {
  width: 100%;
  height: 50px;
  color: black;
  outline: 1px solid red;
}

.custom-prev,
.custom-next {
  background-color: rgba(255, 255, 255, 0.18);
}

.custom > div {
  padding: 0 20px;
}

.custom > div > h3 {
  position: relative;
  margin-bottom: 70px;
}

.custom > div > h3::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 5px;
  top: 48px;
  left: 0;
  background: #0060ad;
}

.custom_pc {
  width: 100%;
  max-width: 1280px;
  margin: 60px auto 120px;
  padding: 0 20px;
}

.custom_pc > div > h1 {
  position: relative;
  margin-bottom: 100px;
}
.custom_pc > div > h1::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 5px;
  top: 65px;
  left: 0;
  background: #0060ad;
}

.custom .grid3 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.custom .grid3 div {
  width: 100%;
}

.custom .grid3 div img {
  width: 100%;
}

.custom_pc .grid6 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.custom_pc .grid6 div {
  width: 100%;
  border: 1px solid #ddd;
}

.custom_pc .grid6 div img {
  width: 100%;
}

.shop {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 30px 0 80px;
}

.shop > a {
  width: 50%;
  position: relative;
  height: 500px;
  color: white;
  overflow: hidden;
}

.shop > :first-child > .bg {
  width: 100%;
  height: 100%;
  background: url('https://hmcnetworks.co.kr/img/bg_shop01.8973afcf.png')
    no-repeat;
  background-size: cover;
  background-position: center;
  transition: .4s;
}

.shop > :last-child > .bg {
  width: 100%;
  height: 100%;
  background: url('https://hmcnetworks.co.kr/img/bg_shop02.a1d2fa9f.png')
    no-repeat;
  background-size: cover;
  background-position: center;
  transition: .4s;
}

.shop > :first-child > .txt {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 0;
  right: 0;
  padding: 100px 40px;
}
.shop > :last-child > .txt {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 0;
  left: 0;
  padding: 100px 40px;
}

.shop .txt h1 {
  margin-bottom: 60px;
}

.shop .txt button {
  color: white;
  border: 1px solid #eee;
  padding: 20px 80px;
}

.shop > :first-child:hover .txt button,
.shop > :last-child:hover .txt button {
  background: white;
  color: black;
}

.shop > :first-child:hover .bg,
.shop > :last-child:hover .bg {
  transform: scale(1.5);
}
