.img_box {
  width: 100%;
}

.img_box img {
  width: 100%;
  height: 92vh;
}

.banner_box {
  position: relative;
  width: 100%;
  height: 100%;
}

.txt_box {
  position: absolute;
  top: 30%;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  color: white;
  right: 1%;
  padding: 0 20px;
}

.txt_box hr {
  margin: 40px 0;
  color: #333;
  background: #333;
}

.black_txt {
  color: black;
}

.txt_box_mb {
  position: absolute;
  width: 100%;
  top: 15%;
  color: white;
  padding: 0 20px;
}

.txt_box_mb h2 {
  margin-bottom: 30px;
}

.txt_box button {
  font-size: 1.2rem;
  margin: 40px 0;
  padding: 16px;
  border: 1px solid #eee;
  color: white;
}

.txt_box_mb button {
  margin: 30px 0;
  padding: 10px 30px;
  font-size: 1rem;
  border: 1px solid #eee;
  color: white;
}

.txt_box_mb button.black_txt,
.txt_box button.black_txt {
  border: 1px solid black;
  color: black;
}

.txt_box_mb button span {
  margin-right: 12px;
}

/* swiper */

.banner_box .txt_box {
  position: absolute;
  top: 30%;
  left: 20px;
}

.custom-navigation {
  position: absolute;
  width: 140px;
  display: flex;
  top: 80%;
  left: 20vw;
  z-index: 3;
}

.custom-prev,
.custom-next {
  padding: 23px;
  background-color: rgba(0, 0, 0, 0.21);
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.custom-prev::after {
  content: "<";
  font-size: 2rem;
  color: white;
}
.custom-next::after {
  content: ">";
  font-size: 2rem;
  color: white;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: #555;
}
